<h1>Sie haben Sich zum Turnier: {{ turnier.name }} erfolgreich Angemeldet</h1>
<table>
    <tr>
        <td>Sehr geehrte(r) {{ teilnehmer.prename }} {{ teilnehmer.name }} </td>
    <tr>
    <tr>
        <td>

            Deine Turnieranmeldung ist bei uns eingegangen. Wir nehmen Dich, nach Zahlungseingang, in die Starterliste auf!<br/>
            Altersklasse: {{ teilnehmer.agegroupe.name  }}<br/>
            Bogenklasse: {{ teilnehmer.bowclass.name }}<br/>
            Verein: {{ teilnehmer.society }}<br/>

        </td>
    <tr>
        <td>
            Startgeld:
<br/>
            Erwachsene: 14 Euro <br/>
            Jugendliche ab Jahrgang 1999 bis einschlie&szlig;lich 2003 : 7 Euro <br/>
            Kinder: Frei <br/>
<br/>
            Wir bitten um &uuml;berweisung auf folgendes Konto:<br/>
<br/>
            Bernstein-Eagles e.V. Michelbach <br/>
            IBAN: DE55 6629 0000 0022 3 146 02 <br/>
            BIC: VBRADE6K<br/>
        </td>
    </tr>
</table>