{% extends 'base.html.twig' %}
{% block javascripts %}
    <script type="application/javascript" src="{{ asset('build/js/app.js') }}" ></script>
{% endblock %}
{% block body %}
    <div>
        <table border="2">
            <tr>
                <th>{% trans from 'admin' %}name{% endtrans %}</th>
                <th>{% trans from 'admin' %}startDate{% endtrans %}</th>
                <th>{% trans from 'admin' %}endDate{% endtrans %}</th>
                <th>{% trans from 'admin' %}freePlaces{% endtrans %}</th>
                <th>{% trans from 'admin' %}Participens{% endtrans %}</th>
                <th>{% trans from 'admin' %}countParticipens{% endtrans %}</th>
                <th>{% trans from 'admin' %}available{% endtrans %}</th>
                <th>{% trans from 'admin' %}isActive{% endtrans %}</th>
                <th>{% trans from 'admin' %}Actions{% endtrans %}</th>
            </tr>
            {% for turnier in turniere %}
                <tr>
                    <td>{{ turnier.name }}</td>
                    <td>{{ turnier.startDate.format('d-m-Y') }}</td>
                    <td>{{ turnier.endDate.format('d-m-Y') }}</td>
                    <td>{{ turnier.freePlaces }}</td>
                    <td>{{ participiens[turnier.id] }}</td>
                    <td>{{ paidParticipiens[turnier.id] }}</td>
                    <td>{{ free_places[turnier.id] }}</td>
                    <td>{{ turnier.isActive ? '1' : '0' }}</td>
                    <td>
                        <button class="make_inactive" data-path={{ path('toogle_status_turnier') }} value={{ turnier.id }}>deaktivieren / aktivieren </button>
                        <br/>
                        <button class="open_turnier" data-path="{{ path('admin_show_turnier',{'turnierId':turnier.id}) }}" value={{ turnier.id }}>Turnier öffnen</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}