{% extends 'base.html.twig' %}

{% block body %}
    <div class="turnierHeader">
        <h2> {{ turnier.name }}</h2>
        <div>
            {% trans from 'admin' %} totalPlaces {% endtrans %} : <strong> {{ turnier.freePlaces }}</strong><br/>
            {% trans from 'admin' %} paidPlaces {% endtrans %} : <strong> {{ paidPlaces }}</strong><br/>
            {% trans from 'admin' %} freePlaces {% endtrans %} : <strong> {{ freePlaces }}</strong><br/>

        </div>
    </div>
    <br/>
    <div>
        <table border="1" cellpadding="5">
            <tr>
                <th>{% trans from 'admin' %}gender{% endtrans %}</th>
                <th>{% trans from 'admin' %}prename{% endtrans %}</th>
                <th>{% trans from 'admin' %}name{% endtrans %}</th>
                <th>{% trans from 'admin' %}street{% endtrans %}</th>
                <th>{% trans from 'admin' %}plz{% endtrans %}</th>
                <th>{% trans from 'admin' %}city{% endtrans %}</th>
                <th>{% trans from 'admin' %}country{% endtrans %}</th>
                <th>{% trans from 'admin' %}email{% endtrans %}</th>
                <th>{% trans from 'admin' %}society{% endtrans %}</th>
                <th>{% trans from 'admin' %}hasPaid{% endtrans %}</th>
                <th>{% trans from 'admin' %}ageGroup{% endtrans %}</th>
                <th>{% trans from 'admin' %}bowClass{% endtrans %}</th>
                <th>{% trans from 'admin' %}actions{% endtrans %}</th>
            </tr>
            {% for teilnehmer in teilnehmers %}
                <tr>
                    <td>{{ teilnehmer.gender }}</td>
                    <td>{{ teilnehmer.prename }}</td>
                    <td>{{ teilnehmer.name }}</td>
                    <td>{{ teilnehmer.street }}</td>
                    <td>{{ teilnehmer.plz }}</td>
                    <td>{{ teilnehmer.city }}</td>
                    <td>{{ teilnehmer.country }}</td>
                    <td>{{ teilnehmer.email }}</td>
                    <td>{{ teilnehmer.society }}</td>
                    <td>
                        {% if teilnehmer.hasPaid==1 %}
                            <img src="{{ asset('img/icons8-ok-48.png') }}" alt="ok"/>

                        {% else %}
                            <img src="{{ asset('img/icons8-stornieren-48.png') }}" alt="notOk"/>
                        {% endif %}
                    </td>
                    <td>{{ teilnehmer.Agegroupe.name }}</td>
                    <td>{{ teilnehmer.Bowclass.name }}</td>
                    <td>
                        <button class="pathButtonAndRefresh"
                                data-path="{{ path('setPaid',{'teilnehmerId': teilnehmer.id}) }}">{% if teilnehmer.hasPaid == false %} {% trans from 'admin' %} setToPaid {% endtrans %} {% else %} {% trans from 'admin' %} setToNotPaid {% endtrans %} {% endif %}</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <button class="pathButton"
                data-path="{{ path('getTotalList',{'turnierId': turnier.id}) }}">{% trans from 'admin' %} Download Totallist{% endtrans %}</button>
        <br/>
        <button class="pathButton"
                data-path="{{ path('getPaidlist',{'turnierId': turnier.id}) }}">{% trans from 'admin' %} Download Paidlist{% endtrans %}</button>
        <br/>
        <button class="pathButton"
                data-path="{{ path('getPaidArtemisFile',{'turnierId': turnier.id}) }}">{% trans from 'admin' %} Download Artemisfile (paid only){% endtrans %}</button>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

