{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/css/form.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

    {% if form==null %}
         <div class="teilnehmer_form">

             Keine Aktiven Formulare!
         </div>
    {% else %}
    <div class="teilnehmer_form">
        <div>
            {% trans %}counter {% endtrans %} <strong>{{ counter }}</strong>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}