{% extends 'base.html.twig' %}

{% block body %}
    <h2> {{ turnier.name }}</h2>
    <div>
        <strong>{% trans from 'admin' %} freePlaces {% endtrans %}:</strong> {{ free_places }}
    </div>
    <br/>
    <table border="1" cellpadding="5">
        <tr>
            <th>{% trans from 'admin' %}prename{% endtrans %}</th>
            <th>{% trans from 'admin' %}name{% endtrans %}</th>
            <th>{% trans from 'admin' %}society{% endtrans %}</th>
            <th>{% trans from 'admin' %}bowClass{% endtrans %}</th>
            {% if turnier.bankPayment == 1 %}
                <th>{% trans from 'admin' %}hasPaid{% endtrans %}</th>
            {% endif %}
        </tr>
        {% for teilnehmer in teilnehmers %}
            <tr>
                <td>{{ teilnehmer.prename }}</td>
                <td>{{ teilnehmer.name }}</td>
                <td>{{ teilnehmer.society }}</td>
                <td>{{ teilnehmer.bowclass.name }}</td>
                {% if turnier.bankPayment == 1 %}
                    <td>
                        {% if teilnehmer.hasPaid==1 %}
                            <img src="{{ asset('img/icons8-ok-48.png') }}" alt="ok"/>

                        {% else %}
                            <img src="{{ asset('img/icons8-stornieren-48.png') }}" alt="notOk"/>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}



